<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
        <h1> All data has been deleted</h1></br>
        <h1>
            <a href="/">Home page</a>
            <a href="/insert">Insert Users</a>
            <a href="/getAll">List Users</a>
            <a href="/update">Update User</a>
            <a href="/deleteuser">Delete User</a>
        </h1>
        <form action="/deleteAll" method="POST">
            <button>delete</button>
        </form>
        
</body>