<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
        <h1>find Task within two ID</h1></br>
        <h1>
            <a href="/">Home page</a>
            <a href="/insert">Insert Task</a></br>
            <a href="/getAll">List Task</a></br>
            <a href="/update">Update Task</a></br>
            <a href="/deleteuser">Delete Task</a></br>
            <a href="/findTask">find specific Task</a></br>
        </h1>
    <form action="/findTaskAB" method="POST">
        TaskIDOne <input type="text"  name="taskID1"></br>
        TaskIDTwo <input type="text"  name="taskID2"></br>
        <button>submit</button>
    </form>
</body>