<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Home page</h1></br>
    <img src="monash-university-logo-2016-black.jpg" width=300 height="200"></br>
    <h1>
        <a href="/insert">Insert Task</a></br>
        <a href="/insertDeveloper">Insert Developer</a></br>
        <a href="/getAll">List Task</a></br>
        <a href="/update">Update Task</a></br>
        <a href="/deleteuser">Delete Task</a></br>
        <a href="/findTask">find specific Task</a></br>
    </h1>
</body>

</html>
