<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
        <h1>insert task</h1></br>
        <h1>
            <a href="/">Home page</a>
            <a href="/insert">Insert Task</a></br>
            <a href="/getAll">List Task</a></br>
            <a href="/update">Update Task</a></br>
            <a href="/deleteuser">Delete Task</a></br>
            <a href="/findTask">find specific Task</a></br>
        </h1>
    <form action="/addNewDeveloper" method="POST">
        Developer firstName <input type="text"  name="firstName"></br>
        Developer lastName <input type="text"  name="lastName"></br>
        Level <input type="text"  name="level"></br>
        <h1>Address</h1></br>
        State <input type="text"  name="state"></br>
        Suburb <input type="text"  name="suburb"></br>
        Street <input type="text"  name="street"></br>
        Unit <input type="number"  name="unit"></br>
        <button>submit</button>
    </form>
</body>