<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
        <h1>insert task</h1></br>
        <h1>
            <a href="/">Home page</a>
            <a href="/insert">Insert Task</a></br>
            <a href="/getAll">List Task</a></br>
            <a href="/update">Update Task</a></br>
            <a href="/deleteuser">Delete Task</a></br>
            <a href="/findTask">find specific Task</a></br>
        </h1>
    <form action="/addNewTask" method="POST">
        Task name <input type="text"  name="taskName"></br>
        Assign person <input type="text"  name="personName"></br>
        Due date<input type="date"  name="dueDate"></br>
        Task status <input type="text"  name="taskStatus"></br>
        Task description <input type="text"  name="description"></br>
        <button>submit</button>
    </form>
</body>