<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
        <h1>update task</h1></br>
        <h1>
            <a href="/">Home page</a>
            <a href="/insert">Insert Task</a></br>
            <a href="/getAll">List Task</a></br>
            <a href="/update">Update Task</a></br>
            <a href="/deleteuser">Delete Task</a></br>
            <a href="/findTask">find specific Task</a></br>
        </h1>
    <form action="/updateuserdata" method="POST">
        TaskID <input type="text"  name="taskID"></br>
        <!-- TaskName <input type="text"  name="taskName"></br> -->
        Task status <input type="text"  name="taskStatus"></br>
        <button>submit</button>
    </form>
</body>